.App {
  text-align: center;
  background-color: "#3a4052";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3a4052;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "dearJoe 5 CASUAL";
  src: url("./fonts/DearJoe5CASUAL.woff2") format("woff2"),
    url("./fonts/DearJoe5CASUAL.woff") format("woff"),
    url("./fonts/DJ5CTRIAL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-family: "dearJoe 5 CASUAL";
  font-size: xx-large;
  color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
